.vscode/**
.vscode-test/**
node_modules
azure-pipelines.yml

src/**
.gitignore
.prettierrc
**/package-lock.json
**/tsconfig.json
**/tslint.json
**/token.json

**/*.map
**/*.ts

!dist/**


out/test/**
